.productCard__addToCart {
    display: flex;
    align-items: center;
    width: 61%;
    justify-content: space-evenly;


    .productCard__addToCart--- {
        @include btn($width: 10%);
        width: 20%;

    }

    .productCard__addToCart--addition {
        @include btn($width: 40%);
        width: 20%;
    }

    .productCard__addToCart--count {
        font-size: 1.2rem;
    }

    .productCard__addToCart--add {
        @include btn();
       min-width: 30%;

    }
}